#mobile-links {
  display: none;
}

#mobile-search {
  display: none;
}

@media screen and (max-width: 768px) {
  #mobile-links {
    display: block;
    float: right;
    height: 55px;
  }

  #mobile-search {
    position: absolute;
    margin-top: -6px;
    left: 0;
    right: 0;
    z-index: 9998;
  }

  .mobile-link {
    display: inline-block;
    padding: 1em;
    height: 55px;
    width: 55px;
    cursor: pointer;
    position: relative;
  }

  .mobile-link.mobile-search-link {
    background: url("https://common.northwestern.edu/v8/css/images/icons/search.svg") no-repeat center/20px 20px;
  }

  .mobile-link.mobile-search-link.open {
    background: #4e2a84 url("https://common.northwestern.edu/v8/css/images/icons/alert-x-white-home.svg") no-repeat center/20px 20px;
  }

  .mobile-link.mobile-nav-link {
    background: url("https://common.northwestern.edu/v8/css/images/icons/hamburger.svg") no-repeat center/20px 20px;
  }

  .mobile-link.mobile-nav-link.open {
    background: #fff url("https://common.northwestern.edu/v8/css/images/icons/close-button-dkpurple.svg") no-repeat center/20px 20px;
  }
}
