.landing-page #page:after,
.landing-page .photo-feature-2-across:after,
.landing-page .photo-feature-3-across:after,
.landing-page .feature-two-col:after,
.landing-page .feature-three-col:after,
.landing-page .feature-four-col:after,
.landing-page .three-column-links:after,
.landing-page .large-feature-inner:after,
.landing-page .stats-callout:after,
.landing-page .alternate-photo-float:after,
.landing-page .news-event:after,
.landing-page .news-box:after,
.landing-page .news-full:after,
.landing-page .news-full .news-box:after,
.landing-page .photo-grid:after {
  content: '';
  display: table;
  clear: both;
}

.landing-page .hero .hero-image {
  height: 600px;
}

.landing-page .hero .hero-image.in-page {
  height: 540px;
}

.landing-page .hero .hero-image.in-page h3 {
  font: 24px 'Campton Extra Bold', Impact, sans-serif;
  color: #fff;
  text-shadow: 2px 2px 0px black;
  margin-bottom: 1.5em;
  position: relative;
}

.landing-page .hero .hero-image.in-page h3:before {
  background: url('https://common.northwestern.edu/v8/css/images/icons/ltpurple-slash.svg')
    no-repeat 50%/17px 21px;
  padding: 0 1.5rem;
  content: ' ';
}

.landing-page .hero .hero-image.in-page h3:after {
  background: url('https://common.northwestern.edu/v8/css/images/icons/ltpurple-slash.svg')
    no-repeat 50%/17px 21px;
  padding: 0 1.5rem;
  content: ' ';
}

.landing-page .hero .hero-image h2 {
  color: #fff;
}

.landing-page .hero .hero-image h2:before {
  background: url('https://common.northwestern.edu/v8/css/images/icons/ltpurple-slash.svg')
    no-repeat 50%/17px 21px;
}

.landing-page .hero .hero-image h2:after {
  background: url('https://common.northwestern.edu/v8/css/images/icons/ltpurple-slash.svg')
    no-repeat 50%/17px 21px;
}

.landing-page .hero.news-hero .hero-image {
  vertical-align: bottom !important;
  padding-bottom: 2.5rem;
}

.landing-page .small-hero .hero-image {
  height: 420px;
}

@media screen and (max-width: 768px) {
  .landing-page .hero.mobile-hero .hero-image {
    display: block;
    height: 300px;
  }

  .landing-page .hero.mobile-hero .hero-image div {
    display: none;
  }

  .landing-page .hero.mobile-hero .mobile-hero-text {
    display: block;
    text-align: center;
    background: #342f2e;
    padding: 2rem 1em;
  }

  .landing-page .hero.mobile-hero .mobile-hero-text h2 {
    font-size: 24px;
    text-shadow: none;
    margin-bottom: 0;
  }

  .landing-page .hero.mobile-hero .mobile-hero-text h2 + p,
  .landing-page .hero.mobile-hero .mobile-hero-text h2 + .button {
    margin-top: 1rem;
  }

  .landing-page .hero.mobile-hero .mobile-hero-text p {
    text-shadow: none;
    font-size: 48px;
  }

  .landing-page .standard-page .hero-image.big-hero-image {
    height: 350px;
  }

  .landing-page .standard-page.m-hide-hero {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .landing-page .hero .hero-image {
    height: 400px;
  }

  .landing-page .hero .hero-image.big-hero-image {
    display: none;
  }

  .landing-page .hero .hero-image.in-page {
    height: 400px;
  }

  .landing-page .hero .hero-image.in-page h3 {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .landing-page .hero .hero-image.in-page h3:before {
    background: none;
    padding: 0;
  }

  .landing-page .hero .hero-image.in-page h3:after {
    background: none;
    padding: 0;
  }

  .landing-page .hero h2 {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .landing-page .hero h2:before {
    background: none;
    padding: 0;
  }

  .landing-page .hero h2:after {
    background: none;
    padding: 0;
  }

  .landing-page .hero p {
    font-size: 28px;
  }

  .landing-page .hero.mobile-hero .hero-image {
    height: 200px;
  }

  .landing-page .hero.mobile-hero .mobile-hero-text {
    padding: 1em 0;
  }

  .landing-page .hero.mobile-hero .mobile-hero-text h2 {
    font-size: 20px;
  }

  .landing-page .hero.mobile-hero .mobile-hero-text p {
    font-size: 28px;
  }
}

.landing-page section {
  margin-bottom: 5rem;
}

.landing-page section.no-bottom-margin {
  margin-bottom: 0;
}

.landing-page #back-to-top {
  margin-bottom: 2rem;
}

.landing-page #page {
  margin: 0 auto;
  max-width: 1440px;
}

.landing-page .content {
  font-size: 16px;
  line-height: 1.7em;
  width: 100%;
}

.landing-page .content h3 {
  font: 24px 'Campton Extra Bold', Impact, sans-serif;
  color: #4e2a84;
  text-align: center;
}

.landing-page .content h3:before {
  background: url('https://common.northwestern.edu/v8/css/images/icons/grey-slash.svg')
    no-repeat 50%/17px 21px;
  padding: 0 20px;
  content: ' ';
}

.landing-page .content h3:after {
  background: url('https://common.northwestern.edu/v8/css/images/icons/grey-slash.svg')
    no-repeat 50%/17px 21px;
  padding: 0 25px;
  content: ' ';
}

.landing-page .content p.subhead {
  color: #4e2a84;
  font: 46px/1.2em 'Campton Book', Tahoma, sans-serif;
  margin-bottom: 1rem;
}

.landing-page .content .section-top {
  margin-bottom: 3rem;
  text-align: center;
  padding: 0 1rem;
}

.landing-page .content .section-top h3 {
  margin-bottom: 4rem;
}

.landing-page .content .section-top h3 + p {
  margin-top: -2rem;
}

@media screen and (max-width: 480px) {
  .landing-page section {
    margin-bottom: 2.5rem;
  }

  .landing-page .content .section-top h3,
  .landing-page .content .background-select h3,
  .landing-page .content .large-feature-wrap h3,
  .landing-page .content .in-page h3 {
    font: 20px 'Campton Extra Bold', Impact, sans-serif;
    margin-bottom: 1rem;
  }

  .landing-page .content .section-top h3 + p,
  .landing-page .content .background-select h3 + p,
  .landing-page .content .large-feature-wrap h3 + p,
  .landing-page .content .in-page h3 + p {
    margin-top: 0;
  }

  .landing-page .content .section-top h3:before,
  .landing-page .content .background-select h3:before,
  .landing-page .content .large-feature-wrap h3:before,
  .landing-page .content .in-page h3:before {
    background: none;
    padding: 0;
  }

  .landing-page .content .section-top h3:after,
  .landing-page .content .background-select h3:after,
  .landing-page .content .large-feature-wrap h3:after,
  .landing-page .content .in-page h3:after {
    background: none;
    padding: 0;
  }

  .landing-page .content .section-top p.subhead,
  .landing-page .content .background-select p.subhead,
  .landing-page .content .large-feature-wrap p.subhead,
  .landing-page .content .in-page p.subhead {
    font-size: 28px;
  }
}

.landing-page .photo-feature-2-across .photo-feature {
  width: 50%;
  float: left;
  position: relative;
  max-height: 350px;
}

.landing-page .photo-feature-2-across .photo-feature img {
  display: block;
}

.landing-page .photo-feature-2-across .photo-feature .back {
  display: none;
  background-color: #836eaa;
  width: 100%;
}

.landing-page .photo-feature-2-across .photo-feature .text-over-image {
  color: #fff;
  padding: 0 2em;
  position: absolute;
  bottom: 1rem;
  z-index: 31;
  width: 80%;
}

.landing-page .photo-feature-2-across .photo-feature .text-over-image h4 {
  font: 30px 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  color: #fff;
  margin-bottom: -0.5rem;
  text-shadow: 2px 2px 0px black;
}

.landing-page .photo-feature-2-across .photo-feature p {
  font: 16px/1.3em 'Akkurat Pro Regular', Arial, sans-serif;
  text-shadow: 2px 2px 0px black;
}

.landing-page .photo-feature-2-across .photo-feature p.link {
  font-family: 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  text-transform: uppercase;
}

.landing-page .photo-feature-2-across .photo-feature p.link:after {
  background: url('https://common.northwestern.edu/v8/css/images/icons/arrow-right-white.svg')
    no-repeat 50%/6px 10px;
  padding-right: 2rem;
  content: ' ';
}

.landing-page .photo-feature-2-across .photo-feature .back-text {
  color: #fff;
  padding: 0 2em;
  position: absolute;
  z-index: 31;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.landing-page .photo-feature-2-across .photo-feature .back-text h4 {
  font: 18px 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  color: #fff;
  margin-bottom: 1.5em;
  text-shadow: none;
}

.landing-page .photo-feature-2-across .photo-feature .back-text p {
  text-shadow: none;
}

.landing-page .photo-feature-2-across .photo-feature .back-text p.link {
  margin-top: 1em;
}

@media screen and (max-width: 1150px) {
  .landing-page .photo-feature-2-across .photo-feature {
    width: 50%;
    max-height: 350px;
  }

  .landing-page .photo-feature-2-across .photo-feature .text-over-image {
    width: 100%;
  }

  .landing-page .photo-feature-2-across .photo-feature .text-over-image h4 {
    font-size: 26px;
  }

  .landing-page
    .photo-feature-2-across
    .photo-feature
    .text-over-image
    h4.campton {
    font-size: 30px;
  }
}

@media screen and (max-width: 875px) {
  .landing-page .photo-feature-2-across .photo-feature {
    width: inherit;
    max-width: 720px;
    float: none;
    margin: 0 auto 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .landing-page .photo-feature-2-across .photo-feature .text-over-image {
    width: 100%;
  }

  .landing-page .photo-feature-2-across .photo-feature .text-over-image h4 {
    font-size: 24px;
  }

  .landing-page
    .photo-feature-2-across
    .photo-feature
    .text-over-image
    h4.campton {
    font-size: 30px;
  }

  .landing-page .photo-feature-2-across .photo-feature .text-over-image p {
    display: none;
  }

  .landing-page .photo-feature-2-across .photo-feature .text-over-image p.link {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .landing-page .photo-feature-2-across h4.campton {
    font-size: 30px;
  }
}

@media screen and (max-width: 420px) {
  .landing-page .photo-feature-2-across .photo-feature .text-over-image {
    padding: 0 1em;
    bottom: 0;
  }

  .landing-page .photo-feature-2-across .photo-feature .text-over-image h4 {
    font-size: 20px;
  }

  .landing-page
    .photo-feature-2-across
    .photo-feature
    .text-over-image
    h4.campton {
    font-size: 24px;
  }
}

.landing-page .photo-feature-3-across {
  margin-top: 3rem;
}

.landing-page .photo-feature-3-across .photo-feature {
  width: 33.333333%;
  float: left;
  position: relative;
  max-height: 350px;
}

.landing-page .photo-feature-3-across .photo-feature img {
  display: block;
}

.landing-page .photo-feature-3-across .photo-feature .back {
  display: none;
  background-color: #836eaa;
  width: 100%;
}

.landing-page .photo-feature-3-across .photo-feature .text-over-image {
  color: #fff;
  padding: 0 2em;
  position: absolute;
  bottom: 1rem;
  z-index: 31;
  width: 90%;
}

.landing-page .photo-feature-3-across .photo-feature h4 {
  font: 30px 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  color: #fff;
  margin-bottom: -0.5rem;
  text-shadow: 2px 2px 0px black;
}

.landing-page .photo-feature-3-across .photo-feature p {
  font: 16px/1.3em 'Akkurat Pro Regular', Arial, sans-serif;
  text-shadow: 2px 2px 0px black;
}

.landing-page .photo-feature-3-across .photo-feature p.link {
  font-family: 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  text-transform: uppercase;
}

.landing-page .photo-feature-3-across .photo-feature p.link:after {
  background: url('https://common.northwestern.edu/v8/css/images/icons/arrow-right-white.svg')
    no-repeat 50%/6px 10px;
  padding-right: 2rem;
  content: ' ';
}

.landing-page .photo-feature-3-across .photo-feature .back-text {
  color: #fff;
  padding: 0 2em;
  position: absolute;
  z-index: 31;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.landing-page .photo-feature-3-across .photo-feature .back-text h4 {
  font: 18px 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  color: #fff;
  margin-bottom: 1.5em;
  text-shadow: none;
}

.landing-page .photo-feature-3-across .photo-feature .back-text p {
  text-shadow: none;
}

.landing-page .photo-feature-3-across .photo-feature .back-text p.link {
  margin-top: 1em;
}

@media screen and (max-width: 1150px) {
  .landing-page .photo-feature-3-across .photo-feature .text-over-image {
    padding: 0 1em;
  }

  .landing-page .photo-feature-3-across .photo-feature .text-over-image h4 {
    font-size: 26px;
  }

  .landing-page .photo-feature-3-across .photo-feature .back-text {
    padding: 0 1em;
  }
}

@media screen and (max-width: 960px) {
  .landing-page .photo-feature-3-across .photo-feature {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .landing-page .photo-feature-3-across .photo-feature {
    width: inherit;
    max-width: 480px;
    float: none;
    margin: 0 auto 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .landing-page .photo-feature-3-across .photo-feature {
    width: inherit;
    max-width: 480px;
    margin: 0 auto;
    float: none;
  }

  .landing-page .photo-feature-3-across .photo-feature .text-over-image {
    width: 100%;
  }

  .landing-page .photo-feature-3-across .photo-feature .text-over-image h4 {
    font-size: 24px;
  }

  .landing-page
    .photo-feature-3-across
    .photo-feature
    .text-over-image
    h4.campton {
    font-size: 30px;
  }

  .landing-page .photo-feature-3-across .photo-feature .text-over-image p {
    display: none;
  }

  .landing-page .photo-feature-3-across .photo-feature .text-over-image p.link {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  .landing-page .photo-feature-3-across .photo-feature .back-text {
    padding: 0 0.5rem;
  }

  .landing-page .photo-feature-3-across .photo-feature .back-text h3 {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }

  .landing-page .photo-feature-3-across .photo-feature .back-text p {
    font-size: 14px;
  }
}

.landing-page .photo-feature-3-across {
  margin-top: 3rem;
}

.landing-page .photo-feature-3-across .photo-feature {
  width: 33.333333%;
  float: left;
  position: relative;
  max-height: 350px;
}

.landing-page .photo-feature-3-across .photo-feature img {
  display: block;
}

.landing-page .photo-feature-3-across .photo-feature .back {
  display: none;
  background-color: #836eaa;
  width: 100%;
}

.landing-page .photo-feature-3-across .photo-feature .text-over-image {
  color: #fff;
  padding: 0 2em;
  position: absolute;
  bottom: 1rem;
  z-index: 31;
  width: 90%;
}

.landing-page .photo-feature-3-across .photo-feature h4 {
  font: 30px 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  color: #fff;
  margin-bottom: -0.5rem;
  text-shadow: 2px 2px 0px black;
}

.landing-page .photo-feature-3-across .photo-feature p {
  font: 16px/1.3em 'Akkurat Pro Regular', Arial, sans-serif;
  text-shadow: 2px 2px 0px black;
}

.landing-page .photo-feature-3-across .photo-feature p.link {
  font-family: 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  text-transform: uppercase;
}

.landing-page .photo-feature-3-across .photo-feature p.link:after {
  background: url('https://common.northwestern.edu/v8/css/images/icons/arrow-right-white.svg')
    no-repeat 50%/6px 10px;
  padding-right: 2rem;
  content: ' ';
}

.landing-page .photo-feature-3-across .photo-feature .back-text {
  color: #fff;
  padding: 0 2em;
  position: absolute;
  z-index: 31;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.landing-page .photo-feature-3-across .photo-feature .back-text h4 {
  font: 18px 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  color: #fff;
  margin-bottom: 1.5em;
  text-shadow: none;
}

.landing-page .photo-feature-3-across .photo-feature .back-text p {
  text-shadow: none;
}

.landing-page .photo-feature-3-across .photo-feature .back-text p.link {
  margin-top: 1em;
}

@media screen and (max-width: 1150px) {
  .landing-page .photo-feature-3-across .photo-feature .text-over-image {
    padding: 0 1em;
  }

  .landing-page .photo-feature-3-across .photo-feature .text-over-image h4 {
    font-size: 26px;
  }

  .landing-page .photo-feature-3-across .photo-feature .back-text {
    padding: 0 1em;
  }
}

@media screen and (max-width: 960px) {
  .landing-page .photo-feature-3-across .photo-feature {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .landing-page .photo-feature-3-across .photo-feature {
    width: inherit;
    max-width: 480px;
    float: none;
    margin: 0 auto 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .landing-page .photo-feature-3-across .photo-feature {
    width: inherit;
    max-width: 480px;
    margin: 0 auto;
    float: none;
  }

  .landing-page .photo-feature-3-across .photo-feature .text-over-image {
    width: 100%;
  }

  .landing-page .photo-feature-3-across .photo-feature .text-over-image h4 {
    font-size: 24px;
  }

  .landing-page
    .photo-feature-3-across
    .photo-feature
    .text-over-image
    h4.campton {
    font-size: 30px;
  }

  .landing-page .photo-feature-3-across .photo-feature .text-over-image p {
    display: none;
  }

  .landing-page .photo-feature-3-across .photo-feature .text-over-image p.link {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  .landing-page .photo-feature-3-across .photo-feature .back-text {
    padding: 0 0.5rem;
  }

  .landing-page .photo-feature-3-across .photo-feature .back-text h3 {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }

  .landing-page .photo-feature-3-across .photo-feature .back-text p {
    font-size: 14px;
  }
}

.landing-page .feature-two-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.landing-page .feature-two-col .feature-box {
  width: 49.10714%;
  float: left;
  background: #f0f0f0;
  margin-left: 1.78571%;
  position: relative;
}

.landing-page .feature-two-col .feature-box:first-child {
  margin-left: 0;
}

.landing-page .feature-two-col .feature-box .feature-copy {
  padding: 1rem 1.5rem 4rem 1.5rem;
}

.landing-page .feature-two-col .feature-box .feature-copy h4 {
  font: 21px 'Akkurat Pro Regular', Arial, sans-serif;
  text-transform: uppercase;
  color: #342f2e;
}

.landing-page .feature-two-col .feature-box .feature-copy ul {
  margin-left: 0;
  padding-left: 0.5em;
}

.landing-page .feature-two-col .feature-box.no-button .feature-copy {
  padding-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .landing-page .feature-two-col {
    display: inherit;
  }

  .landing-page .feature-two-col .feature-box {
    width: inherit;
    max-width: 550px;
    float: none;
    background: #f0f0f0;
    margin: 0 auto 1rem auto;
    margin-bottom: 1rem;
  }

  .landing-page .feature-two-col .feature-box:first-child {
    margin-left: auto;
  }
}

.landing-page .feature-three-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.landing-page .feature-three-col .feature-box {
  width: 32.14286%;
  float: left;
  background: #f0f0f0;
  margin-left: 1.78571%;
  position: relative;
}

.landing-page .feature-three-col .feature-box:first-child {
  margin-left: 0;
}

.landing-page .feature-three-col .feature-box .feature-copy {
  padding: 1rem 1.5rem 4rem 1.5rem;
}

.landing-page .feature-three-col .feature-box .feature-copy h4 {
  font: 21px 'Akkurat Pro Regular', Arial, sans-serif;
  text-transform: uppercase;
  color: #342f2e;
}

.landing-page .feature-three-col .feature-box .feature-copy ul {
  margin-left: 0;
  padding-left: 0.5em;
}

@media screen and (max-width: 875px) {
  .landing-page .feature-three-col {
    display: inherit;
  }

  .landing-page .feature-three-col .feature-box {
    width: inherit;
    max-width: 360px;
    float: none;
    background: #f0f0f0;
    margin: 0 auto 2rem auto;
  }

  .landing-page .feature-three-col .feature-box:first-child {
    margin-left: auto;
  }
}

.landing-page .feature-four-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.landing-page .feature-four-col .feature-box {
  width: 23.95833%;
  float: left;
  background: #f0f0f0;
  margin-right: 1.38889%;
  position: relative;
}

.landing-page .feature-four-col .feature-box:last-child {
  margin-right: 0;
}

.landing-page .feature-four-col .feature-box .feature-copy {
  padding: 1rem 1.5rem 4rem 1.5rem;
}

.landing-page .feature-four-col .feature-box .feature-copy h4 {
  font: 21px 'Akkurat Pro Regular', Arial, sans-serif;
  text-transform: uppercase;
  color: #342f2e;
}

.landing-page .feature-four-col .feature-box .feature-copy ul {
  margin-left: 0;
  padding-left: 0.5em;
}

@media screen and (max-width: 920px) {
  .landing-page .feature-four-col {
    flex-wrap: wrap;
    max-width: 920px;
  }

  .landing-page .feature-four-col .feature-box {
    max-width: inherit;
    width: 48.91304%;
    margin-bottom: 20px;
    margin-right: 2.17391%;
  }

  .landing-page .feature-four-col .feature-box:nth-child(2n) {
    margin-right: 0;
  }

  .landing-page .feature-four-col .feature-box img {
    width: 100%;
  }
}

@media screen and (max-width: 590px) {
  .landing-page .feature-four-col {
    display: inherit;
    width: 100%;
  }

  .landing-page .feature-four-col .feature-box {
    width: inherit;
    float: none;
  }
}

.landing-page .three-column-links h4 {
  font: 30px 'Akkurat Pro Regular', Arial, sans-serif;
  color: #716c6b;
  border-bottom: 4px solid #ccc;
  text-transform: none;
  padding-bottom: 0.5rem;
}

.landing-page .three-column-links article {
  float: left;
  width: 32.14286%;
  margin-right: 1.78571%;
}

.landing-page .three-column-links article:last-child {
  margin-right: 0;
}

.landing-page .three-column-links article img {
  margin-bottom: 1rem;
}

.landing-page .three-column-links article p {
  margin-top: 0;
}

.landing-page .three-column-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 875px) {
  .landing-page .three-column-links article {
    float: none;
    width: inherit;
    max-width: 360px;
    margin: 0 auto 2rem auto;
  }

  .landing-page .three-column-links article:last-child {
    margin-right: auto;
  }
}

@media screen and (max-width: 480px) {
  .landing-page .three-column-links h4 {
    font-size: 24px;
  }
}

.landing-page .three-column-list h1 {
  margin-bottom: 2rem;
}

.landing-page .three-column-list h2 {
  font: 30px 'Akkurat Pro Regular', Arial, sans-serif;
  color: #716c6b;
  border-bottom: 4px solid #ccc;
  text-transform: none;
  padding-bottom: 0.5rem;
}

.landing-page .three-column-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 3em;
  -moz-column-gap: 3em;
  column-gap: 2em;
  margin: 0;
  padding: 0;
}

.landing-page .three-column-list ul li {
  background: none;
  padding: 0 0 0.8em 0;
  line-height: 1.5em;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

@media screen and (max-width: 480px) {
  .landing-page .three-column-list h2 {
    font-size: 24px;
  }

  .landing-page .three-column-list ul {
    -moz-column-count: inherit;
    -moz-column-gap: inherit;
    -webkit-column-count: inherit;
    -webkit-column-gap: inherit;
    column-count: inherit;
  }
}

.landing-page .large-feature {
  padding: 4rem;
  background: url('https://common.northwestern.edu/v8/css/images/slashes-grey-bg.gif')
    repeat;
}

.landing-page .large-feature-inner {
  max-width: 1120px;
  margin: 3rem auto 0 auto;
  box-sizing: content-box;
}

.landing-page .large-feature-inner .content-side {
  width: 78.57143%;
  float: left;
  border-right: 1px solid #ccc;
  padding-right: 3.57143%;
}

.landing-page .large-feature-inner .content-side img {
  float: left;
  margin: 0 2rem 2rem 0;
}

.landing-page .large-feature-inner .content-side h4 {
  font: 48px/1.1em 'Campton Bold', Impact, sans-serif;
  margin-bottom: 3rem;
  color: #4e2a84;
}

.landing-page .large-feature-inner > ul {
  width: 21.42857%;
  float: left;
  padding-left: 0;
  margin-left: 0;
}

.landing-page .large-feature-inner > ul li {
  background: none;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.landing-page .large-feature-inner > ul li:after {
  background: url('https://common.northwestern.edu/v8/css/images/icons/arrow-right-dkpurple.svg')
    no-repeat 50%/6px;
  padding-right: 2rem;
  content: ' ';
}

.landing-page .large-feature-inner > ul li a {
  font-family: 'Akkurat Pro Bold', 'Arial Black', sans-serif;
}

.landing-page .large-feature-inner .right-side {
  width: 21.42857%;
  float: left;
  padding-left: 1.5rem;
}

.landing-page .large-feature-inner .right-side h4 {
  font: 24px 'Akkurat Pro Regular', Arial, sans-serif;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 4px solid #ccc;
  color: #716c6b;
}

.landing-page .large-feature-inner .right-side ul {
  padding-left: 0;
  margin-left: 0;
}

.landing-page .large-feature-inner .right-side ul li {
  background: none;
  line-height: 1.2rem;
  margin: 0 0 1rem 0;
  padding-left: 0;
}

.landing-page .large-feature-inner .right-side ul li:after {
  background: url('https://common.northwestern.edu/v8/css/images/icons/arrow-right-dkpurple.svg')
    no-repeat 50%/6px;
  padding-right: 2rem;
  content: ' ';
}

.landing-page .large-feature-inner .right-side ul li a {
  font-family: 'Akkurat Pro Bold', 'Arial Black', sans-serif;
}

@media screen and (max-width: 1100px) {
  .landing-page .large-feature-inner .content-side,
  .landing-page .large-feature-inner > ul,
  .landing-page .large-feature-inner .right-side {
    float: none;
    width: 100%;
    border: none;
    border-right: 0;
  }

  .landing-page .large-feature-inner .content-side li,
  .landing-page .large-feature-inner > ul li,
  .landing-page .large-feature-inner .right-side li {
    padding-left: 0;
  }

  .landing-page .large-feature-inner .content-side {
    padding-right: 0;
  }

  .landing-page .large-feature-inner .content-side:after {
    content: '';
    display: table;
    clear: both;
  }

  .landing-page .large-feature-inner .right-side {
    padding-left: 0;
  }
}

@media screen and (max-width: 850px) {
  .landing-page .large-feature-wrap {
    padding: 2rem;
  }

  .landing-page .large-feature {
    padding: 2rem;
  }

  .landing-page .large-feature .content-side img {
    float: none;
    margin-bottom: 1rem;
  }

  .landing-page .large-feature .content-side h4 {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  .landing-page .large-feature-wrap {
    padding: 1rem;
  }

  .landing-page .large-feature {
    padding: 2rem 1rem;
  }

  .landing-page .large-feature h3 {
    font-size: 20px;
  }

  .landing-page .large-feature h3:before,
  .landing-page .large-feature h3:after {
    background: none;
  }

  .landing-page .large-feature .content-side h4 {
    font-size: 28px;
  }
}

.landing-page .stats-callout {
  border-top: 4px solid #f0f0f0;
  border-bottom: 4px solid #f0f0f0;
  text-align: center;
  padding: 2rem 0;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.landing-page .stats-callout div {
  width: 33%;
  float: left;
  padding: 1rem;
  margin: 0 auto;
}

.landing-page .stats-callout span {
  display: table-cell;
  vertical-align: middle;
}

.landing-page .stats-callout span.big {
  font: 72px/1.1em 'Campton Bold', Impact, sans-serif;
  color: #4e2a84;
  display: block;
}

.landing-page .stats-callout span.small {
  font: 24px 'Campton Extra Light', 'Courier New', sans-serif;
  color: #4e2a84;
  display: block;
}

.landing-page .stats-callout.one-callout {
  display: block;
}

.landing-page .stats-callout.one-callout div {
  width: 100%;
  float: none;
}

.landing-page .stats-callout.one-callout span.big {
  display: inline;
}

.landing-page .stats-callout.one-callout span.small {
  display: inline;
  padding-left: 1rem;
}

@media screen and (max-width: 800px) {
  .landing-page .stats-callout span.big {
    font: 48px 'Campton Bold', Impact, sans-serif;
  }

  .landing-page .stats-callout span.small {
    font: 20px 'Campton Extra Light', 'Courier New', sans-serif;
  }
}

@media screen and (max-width: 550px) {
  .landing-page .stats-callout span.big {
    font: 24px 'Campton Bold', Impact, sans-serif;
  }

  .landing-page .stats-callout span.small {
    font: 15px 'Campton Extra Light', 'Courier New', sans-serif;
  }
}

@media screen and (max-width: 480px) {
  .landing-page .stats-callout.one-callout span.big,
  .landing-page .stats-callout.one-callout span.small {
    display: block;
  }
}

.landing-page .alternate-photo-float {
  margin-bottom: 5rem;
}

.landing-page .alternate-photo-float h4 {
  font: 30px 'Akkurat Pro Regular', Arial, sans-serif;
  color: #716c6b;
  border-bottom: 4px solid #ccc;
  text-transform: none;
  padding-bottom: 0.5rem;
}

.landing-page .alternate-photo-float .image-left,
.landing-page .alternate-photo-float .image-right,
.landing-page .alternate-photo-float .text {
  width: 49.10714%;
  max-width: 550px;
  margin-right: 3.57143%;
  float: left;
  position: relative;
  max-height: 310px;
}

.landing-page .alternate-photo-float .image-left:last-child,
.landing-page .alternate-photo-float .image-right:last-child,
.landing-page .alternate-photo-float .text:last-child {
  margin-right: 0;
}

.landing-page .alternate-photo-float .text {
  width: 47.32143%;
  max-width: 530px;
  margin-right: 3.57143%;
  max-height: none;
}

.landing-page .alternate-photo-float .text:last-child {
  margin-right: 0;
}

.landing-page .alternate-photo-float .text.tl-text {
  color: #4e2a84;
  font: 24px/1.2em 'Campton Book', Tahoma, sans-serif;
  margin-bottom: 1em;
}

.landing-page .alternate-photo-float .text ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2em;
  -moz-column-gap: 3em;
  column-gap: 2em;
  margin: 0;
  padding: 0;
}

.landing-page .alternate-photo-float .text ul li {
  background: none;
  padding: 0 0 0.5em 0;
  line-height: 1.5em;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.landing-page .alternate-photo-float .text .column {
  width: 45%;
  margin-right: 5%;
  float: left;
}

.landing-page .alternate-photo-float .text .column:last-child {
  margin-right: 0;
}

.landing-page .alternate-photo-float .text .column ul {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  -webkit-column-gap: normal;
  -moz-column-gap: normal;
  column-gap: normal;
}

.landing-page .alternate-photo-float .text img {
  z-index: 30;
}

.landing-page .alternate-photo-float .text-over-image {
  position: absolute;
  top: 20%;
  width: 100%;
  color: #fff;
  text-align: center;
  z-index: 31;
  padding: 0 1em;
  font: 24px 'Campton Extra Bold', Impact, sans-serif;
}

.landing-page .alternate-photo-float .text-over-image p {
  margin: 0;
}

.landing-page .alternate-photo-float .text-over-image .big {
  font: 72px/1em 'Campton Bold', Impact, sans-serif;
}

@media screen and (max-width: 1150px) {
  .landing-page .alternate-photo-float .quote {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  .landing-page .alternate-photo-float .quote {
    font-size: 18px;
  }

  .landing-page .alternate-photo-float .text-over-image {
    top: 5%;
    font-size: 24px;
  }

  .landing-page .alternate-photo-float .text-over-image .big {
    font-size: 60px;
    line-height: 1em;
  }
}

@media screen and (max-width: 875px) {
  .landing-page .alternate-photo-float {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
  }

  .landing-page .alternate-photo-float h4 {
    font-size: 24px;
    margin-top: 1rem;
  }

  .landing-page .alternate-photo-float .image-left,
  .landing-page .alternate-photo-float .image-right,
  .landing-page .alternate-photo-float .text {
    width: 100%;
    float: none;
    position: relative;
    margin-right: 0;
  }

  .landing-page .alternate-photo-float .image-left:last-child,
  .landing-page .alternate-photo-float .image-right:last-child,
  .landing-page .alternate-photo-float .text:last-child {
    margin-right: auto;
  }

  .landing-page .alternate-photo-float .image-right {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .landing-page .alternate-photo-float .text-over-image {
    top: 20%;
  }
}

@media screen and (max-width: 768px) {
  .landing-page .alternate-photo-float .text.tl-text {
    font-size: 22px;
  }
}

@media screen and (max-width: 480px) {
  .landing-page .alternate-photo-float .text.tl-text {
    font-size: 18px;
  }

  .landing-page .alternate-photo-float .text-over-image {
    top: 1em;
    font-size: 20px;
  }

  .landing-page .alternate-photo-float .text-over-image .big {
    font-size: 42px;
  }

  .landing-page .alternate-photo-float .text .column {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .landing-page .alternate-photo-float .text ul {
    -moz-column-count: inherit;
    -moz-column-gap: inherit;
    -webkit-column-count: inherit;
    -webkit-column-gap: inherit;
    column-count: inherit;
    column-gap: inherit;
  }
}

@media screen and (max-width: 380px) {
  .landing-page .alternate-photo-float .text-over-image {
    font-size: 18px;
    line-height: 1em;
  }

  .landing-page .alternate-photo-float .text-over-image .big {
    font-size: 36px;
  }
}

.landing-page .background-select {
  width: 100%;
  display: table;
  min-height: 400px;
}

.landing-page .background-select .background-select-image {
  text-align: center;
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  position: relative;
  padding: 5rem 1em 3rem 1em;
}

.landing-page .background-select h3 {
  margin-bottom: 2rem;
}

.landing-page .background-select p {
  margin-bottom: 3rem;
}

.landing-page .background-select a.button {
  margin-bottom: 2rem;
}

.landing-page .background-select.purple-slashes p {
  color: #fff;
}

.landing-page .background-select.purple-slashes h3 {
  color: #fff;
}

@media screen and (max-width: 960px) {
  .landing-page .purple-slashes .purple-half {
    padding: 2rem;
  }
}

@media screen and (max-width: 875px) {
  .landing-page .background-select p.subhead {
    font-size: 36px;
  }
}

.landing-page .quote {
  font: 24px/1.2em 'Campton Book', Tahoma, sans-serif;
  color: #4e2a84;
  margin-bottom: 1em;
}

.landing-page .quote span {
  background: url('https://common.northwestern.edu/v8/css/images/icons/quote.png')
    no-repeat;
  width: 35px;
  height: 24px;
  display: inline-block;
  margin-right: 0.5rem;
}

.landing-page .quote figcaption {
  font: 16px/1.4em 'Akkurat Pro Regular', Arial, sans-serif;
  color: #716c6b;
}

.landing-page .quote figcaption span {
  font: 18px 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  background: none;
  height: inherit;
  width: inherit;
  display: inherit;
  margin-right: inherit;
}

.landing-page .number-boxes {
  background: #4e2a84
    url('https://common.northwestern.edu/v8/css/images/slashes.purple-bg.gif')
    repeat;
  padding: 2em 1em;
  text-align: center;
}

.landing-page .number-boxes .half {
  width: 50%;
  float: left;
  border-right: 1px solid #836eaa;
  padding: 2rem 7rem;
}

.landing-page .number-boxes .half:last-child {
  border-right: none;
}

.landing-page .number-boxes .half p {
  font: 24px 'Campton Extra Bold', Impact, sans-serif;
  color: #b6acd1;
}

.landing-page .number-boxes .half p span {
  font: 96px 'Campton Bold', Impact, sans-serif;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .landing-page .number-boxes .half {
    padding: 2rem;
  }

  .landing-page .number-boxes .half p {
    font-size: 18px;
  }

  .landing-page .number-boxes .half p span {
    font-size: 60px;
  }
}

@media screen and (max-width: 480px) {
  .landing-page .number-boxes .half {
    width: 100%;
    float: none;
    padding: 2rem;
    border-right: none;
    border-bottom: 1px solid #836eaa;
  }

  .landing-page .number-boxes .half:last-child {
    border-bottom: none;
  }
}

.landing-page .news-event {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.landing-page .news-event section {
  margin-bottom: 2rem;
}

.landing-page .news,
.landing-page .events {
  border-bottom: 4px solid #ccc;
  position: relative;
}

.landing-page .news h4,
.landing-page .events h4 {
  font: 30px 'Akkurat Pro Regular', Arial, sans-serif;
  color: #716c6b;
  border-bottom: 4px solid #ccc;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.landing-page .news h5,
.landing-page .events h5 {
  font: 18px/1.3em 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  color: #342f2e;
  margin-bottom: 1rem;
}

.landing-page .news p.link,
.landing-page .events p.link {
  font: 16px 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  position: absolute;
  bottom: -2.5rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.landing-page .news p.link:after,
.landing-page .events p.link:after {
  background: url('https://common.northwestern.edu/v8/css/images/icons/arrow-right-dkpurple.svg')
    no-repeat top 35% right 50%/6px 10px;
  padding-right: 1.5em;
  content: ' ';
}

.landing-page .news {
  float: left;
  width: 66.07143%;
}

.landing-page .news-box {
  float: left;
  width: 48.64865%;
  margin-right: 2.7027%;
  margin-bottom: 1rem;
}

.landing-page .news-box:nth-of-type(2n) {
  margin-right: 0;
}

.landing-page .news-box .news-image {
  width: 47.22222%;
  float: left;
  margin-right: 2.77778%;
}

.landing-page .news-box .news-text {
  float: left;
  width: 50%;
}

.landing-page .news-full {
  position: relative;
  border-bottom: 4px solid #ccc;
  margin-bottom: 6rem;
}

.landing-page .news-full .news-box h4 {
  font: 18px/1.3em 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  color: #4e2a84;
  margin-bottom: 1rem;
}

.landing-page .news-full .news-box {
  float: left;
  width: 32.14286%;
  margin-right: 1.78571%;
  margin-bottom: 1rem;
}

.landing-page .news-full .news-box:nth-of-type(3n) {
  margin-right: 0;
}

.landing-page .news-full .news-box .news-image {
  width: 47.22222%;
  float: left;
  margin-right: 2.77778%;
}

.landing-page .news-full .news-box .news-text {
  float: left;
  width: 50%;
}

.landing-page .news-full p.link {
  font: 16px 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  position: absolute;
  bottom: -2.5rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.landing-page .showcase .news {
  width: 32.14286%;
  padding-bottom: 1rem;
}

.landing-page .showcase .news img {
  margin-bottom: 0.5rem;
}

.landing-page .showcase .news h5 {
  color: #716c6b;
}

.landing-page .events {
  float: left;
  width: 32.14286%;
  margin-left: 1.78571%;
}

.landing-page .events h5 {
  margin-bottom: 0.2rem;
  color: #716c6b;
}

.landing-page .events p {
  margin-top: 0;
}

@media screen and (max-width: 900px) {
  .landing-page .news {
    width: 60%;
  }

  .landing-page .news .news-box {
    width: 100%;
    float: none;
  }

  .landing-page .news .news-box .news-image {
    width: 30.14184%;
    margin-right: 1.77305%;
  }

  .landing-page .news .news-box .news-text {
    width: 68.08511%;
  }

  .landing-page .events {
    width: 40%;
    margin-left: 2.22222%;
  }
}

@media screen and (max-width: 900px) {
  .landing-page .news-full .news-box {
    width: 47.77778%;
    margin-right: 2.22222%;
  }

  .landing-page .news-full .news-box:nth-of-type(3n) {
    margin-right: 2.22222%;
  }

  .landing-page .news-full .news-box .news-image {
    width: 39.53488%;
    margin-right: 2.32558%;
  }

  .landing-page .news-full .news-box .news-text {
    width: 58.13953%;
  }
}

@media screen and (max-width: 768px) {
  .landing-page .news-event.showcase {
    display: inherit;
    margin-bottom: 3rem;
  }

  .landing-page .news-event.showcase p.link {
    position: relative;
    bottom: 0;
    margin-top: 2rem;
  }

  .landing-page .news-event.showcase .news,
  .landing-page .news-event.showcase .events {
    width: 100%;
    float: none;
    margin-bottom: 3rem;
    margin-left: 0;
    border-bottom: none;
  }

  .landing-page .news-event.showcase .news:nth-child(3, 3),
  .landing-page .news-event.showcase .events:nth-child(3, 3) {
    margin-bottom: 0;
  }

  .landing-page .news-event .news-box p:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 550px) {
  .landing-page .news-event {
    display: inherit;
    margin-bottom: 3rem;
  }

  .landing-page .news,
  .landing-page .events {
    width: 100%;
    float: none;
    margin-bottom: 3rem;
    margin-left: 0;
    border-bottom: none;
  }

  .landing-page .news p.link,
  .landing-page .events p.link {
    position: relative;
    bottom: 0;
    margin-top: 2rem;
  }

  .landing-page .news-full .news-box {
    width: 100%;
    margin-right: 0;
  }

  .landing-page .news-full .news-box .news-image {
    width: 30.90909%;
    margin-right: 1.81818%;
  }

  .landing-page .news-full .news-box .news-text {
    width: 67.27273%;
  }
}

@media screen and (max-width: 550px) {
  .landing-page .news h5,
  .landing-page .events h5 {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .landing-page .news h4,
  .landing-page .events h4 {
    font-size: 24px;
  }
}

.landing-page #announcement {
  background: #e4e0ee;
  font-size: 18px;
  line-height: 1.3em;
  padding: 1.5rem;
  max-width: 1440px;
}

.landing-page #announcement h2 {
  font: 34px 'Campton Bold', Impact, sans-serif;
}

.landing-page #announcement h3 {
  font: 26px 'Campton Bold', Impact, sans-serif;
  background: none;
  text-align: left;
}

.landing-page #announcement h3::before,
.landing-page #announcement h3::after {
  background: none;
  padding: 0;
}

.landing-page #announcement h4 {
  font: 21px 'Campton Bold', Impact, sans-serif;
}

.landing-page #announcement h5 {
  font: 18px 'Campton Bold', Impact, sans-serif;
}

.landing-page #announcement a {
  color: #4e2a84;
  font-weight: bold;
  text-decoration: none;
}

.landing-page #announcement a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .landing-page #announcement h2 {
    font-size: 26px;
    line-height: 1.2em;
  }

  .landing-page #announcement h3 {
    font-size: 21px;
  }

  .landing-page #announcement h4 {
    font-size: 18px;
  }
}

.landing-page .swiper-button-next,
.landing-page .swiper-button-prev {
  width: 35px;
  height: 35px;
  -moz-background-size: 35px 35px;
  -webkit-background-size: 35px 35px;
  background-size: 35px 35px;
}

.landing-page .swiper-button-prev {
  background: url('https://common.northwestern.edu/v8/css/images/icons/arrow-right-purple-white.svg')
    no-repeat;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 10px;
  right: auto;
}

.landing-page .swiper-button-next {
  background: url('https://common.northwestern.edu/v8/css/images/icons/arrow-right-purple-white.svg')
    no-repeat;
  right: 10px;
  left: auto;
}

.landing-page .caption {
  font: 20px/1.3em 'Akkurat Pro Regular', Arial, sans-serif;
  position: absolute;
  bottom: 0.4rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  width: 100%;
  margin: 0;
}

.landing-page .caption strong {
  font-family: 'Akkurat Pro Bold', 'Arial Black', sans-serif;
}

.landing-page .caption a {
  font-family: 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.landing-page .caption a:after {
  background: url('https://common.northwestern.edu/v8/css/images/icons/arrow-right-white.svg')
    no-repeat 50%/8px 12px;
  padding-right: 1.5rem;
  content: ' ';
}

.landing-page .caption a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .landing-page .caption {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .landing-page .caption {
    position: relative;
    background: #836eaa;
    font-size: 14px;
  }

  .landing-page .swiper-button-next,
  .landing-page .swiper-button-prev {
    width: 25px;
    height: 25px;
    -moz-background-size: 25px 25px;
    -webkit-background-size: 25px 25px;
    background-size: 25px 25px;
    margin-top: -3rem;
  }
}

.landing-page .photo-grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.landing-page .photo-grid article {
  width: 23.66071%;
  margin-right: 1.78571%;
  margin-bottom: 20px;
  float: left;
  line-height: 1.5rem;
}

.landing-page .photo-grid article:nth-of-type(4n + 4) {
  margin-right: 0;
}

.landing-page .photo-grid article h4 {
  font: 16px 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  color: #342f2e;
  margin: 1rem 0 0 0;
}

.landing-page .photo-grid article h4 + p {
  margin-top: 0.5rem;
}

.landing-page .photo-grid article p.link {
  font-family: 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  text-transform: uppercase;
}

.landing-page .photo-grid article p.link:after {
  background: url('https://common.northwestern.edu/v8/css/images/icons/arrow-right-dkpurple.svg')
    no-repeat 0.8em 3px/5px 8px;
  padding-right: 3rem;
  content: ' ';
}

@media screen and (max-width: 768px) {
  .landing-page .photo-grid article {
    width: 48.5%;
    max-width: 265px;
    margin-right: 3%;
  }

  .landing-page .photo-grid article:nth-of-type(2n + 2) {
    margin-right: 0;
  }
}

@media screen and (max-width: 475px) {
  .landing-page .photo-grid article {
    width: 100%;
  }
}
