// "un-style" a standard NU <ul> list
@mixin ul-no-style() {
  padding-left: 0;
  li {
    background: none;
    padding-left: 0;
  }
}

@mixin mobile-full-width() {
  @media screen and (max-width: 700px) {
    width: 100%;
    float: none;
  }
}

// Collapsible arrows
@mixin collapsible-down-arrow() {
  background: url(images/arrow-right-dkpurple.svg) no-repeat 0.5rem center/8px 16px;
  padding: .5em 0 .5rem 2rem;
  border: none;
}
@mixin collapsible-right-arrow() {
  background: url(images/arrow-down-dkpurple.svg) no-repeat 0.3rem center/16px 8px;
}
