// Collapsible arrow styles
.expander h3:first-of-type {
  border-top: 1px solid $light-grey;
}

.expander1 h3 > a,
.expander1 h4 > a {
  @include collapsible-down-arrow();
}

.expander1 h3.open a,
.expander1 h4.open a {
  @include collapsible-right-arrow();
}

// Override form inputs only being 50% wide
.web-form {
  input.rs-search-input {
    padding-left: 30px;
  }
}

#mobile-search {
  display: block;
}

// Make tabs display a little nicer on mobile
#tabs {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .mobile-link {
    // Because we're using a <button> instead of <a>, for accessibility
    padding: 0;

    &.mobile-nav-link {
      background: url("../../../images/hamburger-purple.svg") no-repeat
        center/20px 20px;
    }
    &.mobile-search-link {
      background: url("../../../images/search-purple.svg") no-repeat center/20px
        20px;

      &.open {
        background: #401f68 url("../../../images/alert-x-white-home.svg")
          no-repeat center/20px 20px;
      }
    }
  }

  #mobile-nav-bottom {
    #mobile-nav-bottom-left {
      width: 100%;
      display: block;
    }
  }
}

// Makes photobox items full-width on mobile display
@media screen and (max-width: 475px) {
  %mobile-article {
    max-width: 100%;
    margin-right: 0;
  }
  .landing-page,
  .standard-page {
    .photo-grid {
      &.three-grid,
      &.four-grid {
        article {
          @extend %mobile-article;
        }
      }

      article {
        @extend %mobile-article;
      }
    }
  }
}
