.open-seadragon-container {
  display: inline-block;
  width: 100%;
  height: 300px;

  @media screen and (min-height: 668px) {
    height: 400px;
  }
  @media screen and (min-height: 800px) {
    height: 450px;
  }
}

.toolbar {
  background: $rich-black-50;
  position: absolute !important;
  right: 0px;
  top: 50%;
  opacity: 0.8;
  transform: translateY(-50%);
  z-index: 100;
}

a.toolbar-controls {
  color: $rich-black-20;
  display: block !important;
  font-size: 2rem;
  padding: 10px;

  &:hover {
    background: darken($rich-black-50, 10%);
  }
}

@media screen and (max-width: 768px) {
  a.toolbar-controls {
    font-size: 1.25rem;
  }
}
