.rs-facet-title,
.rs-facet-title > h2 {
  border-bottom: none !important;
  color: $rich-black-50 !important;
  margin: 0.75rem 0 0 !important;
  font-size: 14px !important;
}

.facets-sidebar {
  @extend #left-nav;

  position: relative;
  transition: opacity 0.25s ease-in-out;
  opacity: 1;

  ul {
    border: 1px solid $rich-black-10;
  }

  li {
    font-family: $AkkuratProRegular;
    font-size: 14px;
    line-height: 1em;
  }

  // Collapsed state
  &.collapsed {
    width: 0;
    opacity: 0;
  }

  .facet-sidebar-collapse-icon {
    color: $nu-purple;
    cursor: pointer;
  }

  .facet-sidebar-content-wrapper {
    visibility: visible;

    &.hidden {
      visibility: hidden;
    }
  }
}

a.facet-sidebar-collapse-link {
  color: $nu-purple !important;
  background: $light-grey;
  padding: 3px 6px;
}

// This applies an extended style to a collapsed sidebar
.standard-page .content {
  &.extended {
    width: 100%;
    float: none;
  }
}

.rs-facet-icon {
  // Checkbox color
  &:after {
    border-color: $nu-purple !important;
  }
}

svg.search-icon {
  fill: $nu-purple !important;
  margin-bottom: 3px;
}

.rs-result-item {
  box-shadow: none !important;
}

.rs-result-item article {
  max-height: 80px;
}

.rs-pagination {
  > .active {
    background-color: $nu-purple;
    color: $white;
    &:hover {
      background-color: $nu-purple-60;
    }
  }
}
