.item-detail-metadata p {
  margin-top: 0;
}

.item-detail-label {
  font-weight: bold;
}

.uv-viewer-wrapper {
  margin-bottom: 2rem;
}

ul.metadata-list li {
  background: none;
  padding-left: 0;
}
