#top-bar:after {
  content: '';
  display: table;
  clear: both;
}

#top-bar {
  background: #401f68;
  font: 12px/1.4em 'Akkurat Pro Bold', 'Arial Black', sans-serif;
  min-height: 60px;
}

#top-bar #left {
  display: block;
  float: left;
  padding-left: 0;
}

#top-bar #left img {
  width: 170px;
  margin: 1.1rem 0 1rem 0;
}

#top-bar #right {
  position: relative;
  float: right;
  color: #fff;
  text-transform: uppercase;
}

#top-bar #right > ul {
  margin: 0;
  display: table;
}

#top-bar #right > ul a {
  color: #fff;
  text-decoration: none;
  display: block;
  position: relative;
}

#top-bar #right > ul a:hover,
#top-bar #right > ul a:focus,
#top-bar #right > ul a:active {
  text-decoration: underline;
}

#top-bar #right > ul li {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  line-height: 100%;
  padding-left: 1rem;
  height: 60px;
}

#top-bar #right > ul li:hover,
#top-bar #right > ul li.hover {
  z-index: 100;
}

#top-bar #right > ul li:hover ul,
#top-bar #right > ul li.hover ul {
  right: 0;
  top: 60px;
  z-index: 1000;
}

#top-bar #right > ul li.resources {
  cursor: pointer;
}

#top-bar #right > ul li.resources > a {
  display: inline;
}

#top-bar #right > ul li .dropdown-arrow {
  background: url('https://common.northwestern.edu/v8/css/images/icons/arrow-down-white.svg')
    no-repeat 50% center;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 0.5em;
}

#top-bar #right > ul ul {
  position: absolute;
  top: 100%;
  width: 150px;
  background: #765da0;
  padding: 0.5rem;
  text-align: right;
  z-index: -1000;
}

#top-bar #right > ul ul li {
  float: none;
  padding: 0 0 0.5rem 0;
  width: 100%;
  margin: 0;
  display: inline-block;
  line-height: 1.2em;
  height: inherit;
}

#top-bar #right > ul ul li:hover ul,
#top-bar #right > ul ul li.hover ul {
  left: 0;
}

#top-bar #right > ul ul li:last-child {
  padding-bottom: 0;
}
