/* line 3, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
.hero {
  width: 100%;
  display: table;
}

/* line 9, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
.hero.mobile-hero .mobile-hero-text {
  display: none;
}

/* line 14, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
.hero .hero-image {
  text-align: center;
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  position: relative;
  padding: 0 1rem;
}

/* line 22, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
.hero .hero-image:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.45) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.45)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.45) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.45) 100%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.45) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.45) 100%);
}

/* line 38, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
.hero h2 {
  font: 24px "Campton Extra Bold", Impact, sans-serif;
  color: #fff;
  text-shadow: 2px 2px 0px black;
  margin-bottom: 1.5em;
  position: relative;
}

/* line 45, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
.hero h2:before {
  background: url("https://common.northwestern.edu/v8/css/images/icons/ltpurple-slash.svg") no-repeat 50%/17px 21px;
  padding: 0 1.5rem;
  content: " ";
}

/* line 51, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
.hero h2:after {
  background: url("https://common.northwestern.edu/v8/css/images/icons/ltpurple-slash.svg") no-repeat 50%/17px 21px;
  padding: 0 1.5rem;
  content: " ";
}

/* line 58, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
.hero p {
  font: 60px/1.2em "Campton Bold", Impact, sans-serif;
  color: #fff;
  text-shadow: 2px 2px 0px black;
  margin: 0 0 1rem 0;
  position: relative;
}

/* line 136, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
.standard-page .hero .hero-image {
  height: 420px;
}

/* line 139, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
.standard-page .hero .hero-image.tiny-hero-image {
  height: 190px;
}

/* line 142, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
.standard-page .hero .hero-image.tiny-hero-image h2 {
  margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
  /* line 154, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .hero p {
    font-size: 48px;
  }
}

@media screen and (max-width: 768px) {
  /* line 168, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero.mobile-hero .hero-image {
    display: block;
    height: 300px;
  }
  /* line 172, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero.mobile-hero .hero-image div {
    display: none;
  }
  /* line 177, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero.mobile-hero .mobile-hero-text {
    display: block;
    text-align: center;
    background: #342f2e;
    padding: 2rem 1em;
  }
  /* line 183, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero.mobile-hero .mobile-hero-text h2 {
    font-size: 24px;
    text-shadow: none;
    margin-bottom: 0;
  }
  /* line 188, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero.mobile-hero .mobile-hero-text h2 + p, .standard-page .hero.mobile-hero .mobile-hero-text h2 + .button {
    margin-top: 1rem;
  }
  /* line 193, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero.mobile-hero .mobile-hero-text p {
    text-shadow: none;
    font-size: 48px;
  }
  /* line 205, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .standard-page .hero-image.big-hero-image {
    height: 350px;
  }
  /* line 210, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .standard-page.m-hide-hero {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  /* line 223, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero .hero-image {
    height: 400px;
  }
  /* line 226, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero .hero-image.big-hero-image {
    display: none;
  }
  /* line 230, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero .hero-image.in-page {
    height: 400px;
  }
  /* line 233, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero .hero-image.in-page h3 {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  /* line 237, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero .hero-image.in-page h3:before {
    background: none;
    padding: 0;
  }
  /* line 242, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero .hero-image.in-page h3:after {
    background: none;
    padding: 0;
  }
  /* line 250, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero h2 {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  /* line 254, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero h2:before {
    background: none;
    padding: 0;
  }
  /* line 259, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero h2:after {
    background: none;
    padding: 0;
  }
  /* line 265, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero p {
    font-size: 28px;
  }
  /* line 271, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero.mobile-hero .hero-image {
    height: 200px;
  }
  /* line 275, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero.mobile-hero .mobile-hero-text {
    padding: 1em 0;
  }
  /* line 278, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero.mobile-hero .mobile-hero-text h2 {
    font-size: 20px;
  }
  /* line 282, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero.mobile-hero .mobile-hero-text p {
    font-size: 28px;
  }
  /* line 297, /Library/WebServer/Documents/GIT/department-templates/scss/sections/_heroes.scss */
  .standard-page .hero.smaller-hero .hero-image {
    height: 190px;
  }
}
