nav {
  display: block;
}

#top-nav {
  background: #4e2a84;
  border-bottom: 5px solid #fff;
}

#top-nav .contain-1120 > ul {
  display: table;
  width: 100%;
  line-height: 0;
  position: relative;
  background: #fff;
}

#top-nav .contain-1120 > ul > li {
  display: table-cell;
  text-align: center;
  line-height: 100%;
  font: 18px 'Akkurat Pro Bold', 'Arial Black', sans-serif;
}

#top-nav .contain-1120 > ul > li:hover a {
  background: #f0f0f0;
  transition: 0.3s;
}

#top-nav .contain-1120 > ul > li:hover a.button {
  background: #4e2a84;
}

#top-nav .contain-1120 > ul > li a {
  color: #4e2a84;
  text-decoration: none;
  display: block;
  padding: 1rem 1.5rem;
}

#top-nav .contain-1120 > ul > li a:hover {
  text-decoration: underline;
}

#top-nav .contain-1120 > ul > li.active a {
  background: #836eaa;
  color: #fff;
}

@media screen and (max-width: 768px) {
  #top-nav {
    display: none;
  }
}
