#top-nav .contain-1120 .dropdown .nav-intro,
#top-nav .contain-1120 .dropdown .nav-links,
#top-nav .contain-1120 .dropdown-one-column .nav-intro,
#top-nav .contain-1120 .dropdown-one-column .nav-links,
#top-nav .contain-1120 .dropdown-two-column .nav-intro,
#top-nav .contain-1120 .dropdown-two-column .nav-links {
  width: 50%;
  float: left;
  text-align: left;
}

#top-nav .contain-1120 .dropdown .nav-links,
#top-nav .contain-1120 .dropdown-one-column .nav-links,
#top-nav .contain-1120 .dropdown-two-column .nav-links {
  border-left: 2px solid #ccc;
  padding-left: 1rem;
}

#top-nav .contain-1120 > ul > li:hover .dropdown,
#top-nav .contain-1120 > ul > li:hover .dropdown-one-column,
#top-nav .contain-1120 > ul > li:hover .dropdown-two-column {
  left: 0;
}

#top-nav .contain-1120 > ul > li .dropdown-arrow {
  background: url("https://common.northwestern.edu/v8/css/images/icons/arrow-down-ltpurple.svg") no-repeat 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: .5em;
}

#top-nav .contain-1120 .dropdown,
#top-nav .contain-1120 .dropdown-one-column,
#top-nav .contain-1120 .dropdown-two-column {
  position: absolute;
  background: #f0f0f0;
  left: -9999em;
  z-index: 9998;
  width: 100%;
  padding: 2em;
  text-align: left;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#top-nav .contain-1120 .dropdown p.intro,
#top-nav .contain-1120 .dropdown-one-column p.intro,
#top-nav .contain-1120 .dropdown-two-column p.intro {
  font: 30px "Campton Bold", Impact, sans-serif;
  color: #4e2a84;
  margin: 0 0 1rem 0;
  padding-right: 2rem;
}

#top-nav .contain-1120 .dropdown ul,
#top-nav .contain-1120 .dropdown-one-column ul,
#top-nav .contain-1120 .dropdown-two-column ul {
  display: block;
  background: inherit;
}

#top-nav .contain-1120 .dropdown ul li,
#top-nav .contain-1120 .dropdown-one-column ul li,
#top-nav .contain-1120 .dropdown-two-column ul li {
  display: block;
  text-align: left;
  width: inherit;
  line-height: 1.4em;
}

#top-nav .contain-1120 .dropdown ul li a,
#top-nav .contain-1120 .dropdown-one-column ul li a,
#top-nav .contain-1120 .dropdown-two-column ul li a {
  padding: .3em 0;
  display: inline-block;
  background: inherit;
  color: #4e2a84;
}

#top-nav .contain-1120 .dropdown ul li a:hover,
#top-nav .contain-1120 .dropdown-one-column ul li a:hover,
#top-nav .contain-1120 .dropdown-two-column ul li a:hover {
  text-decoration: underline;
}

#top-nav .contain-1120 .dropdown-two-column ul {
  width: 100% !important;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  -webkit-column-rule: 2px solid #ccc;
  -moz-column-rule: 2px solid #ccc;
  column-rule: 2px solid #ccc;
  margin: 0;
  padding: 0;
}

#top-nav .contain-1120 .dropdown-two-column ul li {
  background: none;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  display: inline-block;
}

#top-nav.narrow-dropdown ul li {
  position: relative;
}

#top-nav.narrow-dropdown ul li:hover ul.nav-align-right {
  right: 0;
  left: inherit;
}

#top-nav.narrow-dropdown ul li:hover ul.nav-align-right li {
  text-align: right;
}

#top-nav.narrow-dropdown .dropdown {
  display: inherit;
  width: 320px;
  padding: 1em;
}
